<h1>Home</h1>

<div id="categories">
  <ul>
    <% @categories.each do |category| %>
      <li id="#{category.name}">
        <%= link_to group_operations_path(category.id) do %>
          <%= category.name %>
          <span class="icon">
            <%= category.icon %>
          </span><br>
          <span class="transactions">
          <h4>Total: $ <%= category.operations.sum(:amount) %></h4>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<%= link_to 'New category', new_group_path %>